services:
  reverse-proxy:
    image: nginx:1.29.3-alpine
    restart: always
    # network_mode: host # same as host to access other ports by other compose
    ports:
      - "192.168.1.253:80:80" # If multiple eth binded to different addresses, filter this way
    volumes:
      - ./Nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    restart: unless-stopped
    user: "1002:1002" # user immich with no sudo privileges
    volumes:
      - ${UPLOAD_LOCATION}:/data # data is stored on a folder owned by immich user
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    ports:
      - '2283:2283'
    depends_on:
      - redis
      - database
    healthcheck:
      disable: false
    security_opt:
      - no-new-privileges:true

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1
    security_opt:
      - no-new-privileges:true

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data # data location must be owned by postgres user (default uid 999)
    shm_size: 128mb
    security_opt:
      - no-new-privileges:true

volumes:
  model-cache:
