services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:v2
    volumes:
      - ${UPLOAD_LOCATION}:/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    ports:
      - '2283:2283'
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      disable: false
    security_opt:
      - no-new-privileges:true

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:081225
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    security_opt:
      - no-new-privileges:true

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:081225
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always
    security_opt:
      - no-new-privileges:true

volumes:
  model-cache:
